<div class="col-md-4 mt-3">
  <div class="row">
    <div class="col-md-6 offset-3">
      <form [formGroup]="visitorForm" (ngSubmit)="save()">
        <div class="mb-4">
          <label class="form-label" for="formExample">İsim</label>
          <input
            formControlName="name"
            type="text"
            class="form-control"
            id="formExample"
          />
          <div class="form-text text-danger">
            <div *ngIf="isInvalid('name')">
              <div *ngIf="isInvalidControl('name', 'required')">
                İsim alanı boş olamaz!
              </div>
            </div>
          </div>
        </div>

        <div class="mb-4">
          <label for="formExample2" class="form-label">Email</label>
          <input
            ngModel
            [email]="true"
            formControlName="email"
            type="email"
            id="formExample2"
            class="form-control"
          />
          <div class="form-text text-danger">
            <div *ngIf="isInvalid('email')">
              <div *ngIf="isInvalidControl('email', 'required')">
                Email alanı boş olamaz!
              </div>
              <div *ngIf="isInvalidControl('email', 'emailFormat')">
                Geçerli Email giriniz!
              </div>
            </div>
          </div>
        </div>

        <div class="mb-4">
          <label for="formExample4" class="form-label">Doğum Tarihi</label>
          <input formControlName="birthDate" type="date" id="formExample4" class="form-control" />
          <div class="form-text text-danger">
            <div *ngIf="isInvalid('birthDate')">
              <div *ngIf="isInvalidControl('birthDate', 'required')">
                Doğum tarihinizi giriniz!
              </div>
            </div>
          </div>
        </div>

        <div class="mb-3">
          İçerik Tipi
          <select class="form-select" formControlName="contentType">
            <option value="">Seçiniz</option>
            <option
              value="{{ content.id }}"
              *ngFor="let content of contentTypeList"
            >
              {{ content.text }}
            </option>
          </select>
          <div class="form-text text-danger">
            <div *ngIf="isInvalid('contentType')">
              <div *ngIf="isInvalidControl('contentType', 'required')">
                İçerik türünü seçiniz!
              </div>
            </div>
          </div>
        </div>

        <div class="mb-4">
          <label for="formExample3" class="form-label">İçerik</label>
          <textarea
            formControlName="content"
            id="formExample3"
            class="form-control"
          ></textarea>
          <!-- <input type="text" id="formExample3" class="form-control" /> -->
          <div class="form-text text-danger">
            <div *ngIf="isInvalid('content')">
              <div *ngIf="isInvalidControl('content', 'required')">
                İçerik kısmı boş olamaz!
              </div>
              <div *ngIf="isInvalidControl('content', 'minlength')">
                En az 50 karakter girmek zorunludur!
              </div>
            </div>
          </div>
        </div>

        <div class="mb-4">
          Yayın Süresi
          <div *ngFor="let publish of publishList">
            <div class="form-check">
              <input
                formControlName="publish"
                class="form-check-input"
                type="radio"
                value="{{ publish.id }}"
              />
              <label class="form-check-label" for="flexRadioDefault1">{{
                publish.text
              }}</label>
            </div>
          </div>
        </div>
        <div class="mb-4">
          <button type="submit" class="btn btn-danger">Kaydet</button>
        </div>
        <br />
        <br />
      </form>
    </div>
  </div>
</div>
