<p>ng-container-and-template works!</p>

<ng-template #header let-data>
  <h1>{{ data.name }}</h1>
</ng-template>

<ng-container
  *ngTemplateOutlet="header; context: { $implicit: { name: 'ahmet' } }"
></ng-container>

<table class="table">
  <thead>
    <td>Picture</td>
    <th>Id</th>
    <th>UserId</th>
    <th>Title</th>
    <th>Body</th>
  </thead>
  <tbody>
    <tr *ngFor="let p of posts">
      <ng-container
        *ngTemplateOutlet="postrow; context: { productData: { post: p } }"
      ></ng-container>
    </tr>
  </tbody>
</table>

<ng-template #postrow let-data="productData">
  <td>
    <img
      src="https://images.unsplash.com/photo-1508004526072-3be43a5005f6?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mnx8YmlnZ2VyJTIwcGljdHVyZXxlbnwwfHwwfHw%3D&w=1000&q=80"
      style="width: 100px; height: 100px"
      alt=""
    />
  </td>
  <td>{{ data.post.id }}</td>
  <td>{{ data.post.userId }}</td>
  <td>{{ data.post.title }}</td>
  <td>{{ data.post.body }}</td>
</ng-template>
