<table class="table">
  <thead>
    <td>Pictures</td>
  </thead>
  <tbody>
    <tr>
      <div class="col-sm-3">
        <ul>
          <li>
            <img
              height="400"
              width="400"
              src="https://product-image.juniqe-production.juniqe.com/media/catalog/product/seo-cache/x800/34/83/34-83-301P__CENTER/Stay-Cool-Balazs-Solti-Leinwandbild.jpg"
              alt=""
            />
          </li>
          <li>
            <img
              height="400"
              width="400"
              src="https://product-image.juniqe-production.juniqe.com/media/catalog/product/seo-cache/x800/34/83/34-83-301P__CENTER/Stay-Cool-Balazs-Solti-Leinwandbild.jpg"
              alt=""
            />
          </li>
          <li>
            <img
              height="400"
              width="400"
              src="https://product-image.juniqe-production.juniqe.com/media/catalog/product/seo-cache/x800/34/83/34-83-301P__CENTER/Stay-Cool-Balazs-Solti-Leinwandbild.jpg"
              alt=""
            />
          </li>
          <li>
            <img
              height="400"
              width="400"
              src="https://product-image.juniqe-production.juniqe.com/media/catalog/product/seo-cache/x800/34/83/34-83-301P__CENTER/Stay-Cool-Balazs-Solti-Leinwandbild.jpg"
              alt=""
            />
          </li>
          <li>
            <img
              height="400"
              width="400"
              src="https://product-image.juniqe-production.juniqe.com/media/catalog/product/seo-cache/x800/34/83/34-83-301P__CENTER/Stay-Cool-Balazs-Solti-Leinwandbild.jpg"
              alt=""
            />
          </li>
          <li>
            <img
              height="400"
              width="400"
              src="https://product-image.juniqe-production.juniqe.com/media/catalog/product/seo-cache/x800/34/83/34-83-301P__CENTER/Stay-Cool-Balazs-Solti-Leinwandbild.jpg"
              alt=""
            />
          </li>
          <li>
            <img
              height="400"
              width="400"
              src="https://product-image.juniqe-production.juniqe.com/media/catalog/product/seo-cache/x800/34/83/34-83-301P__CENTER/Stay-Cool-Balazs-Solti-Leinwandbild.jpg"
              alt=""
            />
          </li>
          <li>
            <img
              height="400"
              width="400"
              src="https://product-image.juniqe-production.juniqe.com/media/catalog/product/seo-cache/x800/34/83/34-83-301P__CENTER/Stay-Cool-Balazs-Solti-Leinwandbild.jpg"
              alt=""
            />
          </li>
          <li>
            <img
              height="400"
              width="400"
              src="https://product-image.juniqe-production.juniqe.com/media/catalog/product/seo-cache/x800/34/83/34-83-301P__CENTER/Stay-Cool-Balazs-Solti-Leinwandbild.jpg"
              alt=""
            />
          </li>
          <li>
            <img
              height="400"
              width="400"
              src="https://product-image.juniqe-production.juniqe.com/media/catalog/product/seo-cache/x800/34/83/34-83-301P__CENTER/Stay-Cool-Balazs-Solti-Leinwandbild.jpg"
              alt=""
            />
          </li>
        </ul>
      </div>
    </tr>
  </tbody>
</table>
