<app-header></app-header>
<div class="container">

    <div class="row sm-3">
        <div class="col-lg-5">

            <div class="list-group">
                <a routerLinkActive="active" routerLink="/anasayfa"
                    class="list-group-item list-group-item-action">Anasayfa</a>
                <a routerLinkActive="active" routerLink="/urunler"
                    class="list-group-item list-group-item-action">Ürünler</a>
                <a routerLinkActive="active" routerLink="/iletisim"
                    class="list-group-item list-group-item-action">İletişim</a>

            </div>

        </div>
        <div class="col-md-9">
            <router-outlet></router-outlet>

        </div>
    </div>

</div>


<app-footer></app-footer>