<div class="container col-md-4 mt-3">
  <div class="row">
    <div class="col-md-6 offset-3">
      <form [formGroup]="loginForm" (ngSubmit)="loginUser()">
        
          <div class="form-outline mb-4">
            <label class="form-label" for="form2Example1">Email</label>
            <input formControlName="email" type="email" id="form2Example1" class="form-control" ngModel [email]="true" />
            <div class="form-text text-danger">
                <div *ngIf="isInvalid('email')">
                  <div *ngIf="isInvalidControl('email', 'required')">
                    Email giriniz
                  </div>
                  <div *ngIf="isInvalidControl('email', 'emailFormat')">
                    Geçerli email giriniz
                  </div>
                </div>
              </div>
          </div>
          <div class="form-outline mb-4">
            <label class="form-label" for="form2Example2">Şifre</label>
            <input formControlName="password" type="password" id="form2Example2" class="form-control" />
            <div class="form-text text-danger">
                <div *ngIf="isInvalid('password')">
                  <div *ngIf="isInvalidControl('password', 'required')">
                    Şifre giriniz
                  </div>
                  <div *ngIf="isInvalidControl('password', 'passwordFormat')">
                    Geçerli şifre giriniz
                  </div>
                </div>
              </div>
          </div>
          <div class="row mb-4">
            <div>
              <div class="form-check">
                <input
                  class="form-check-input"
                  type="checkbox"
                  value=""
                  id="form2Example31"
                />
                <label class="form-check-label" for="form2Example31"
                  >Beni Hatırla</label
                >
              </div>
            </div>
          </div>
          <button type="submit" class="btn btn-primary btn-block mb-4">
            Giriş
          </button>
        
      </form>
    </div>
  </div>
</div>