<div class="container">
  <div class="col-md-6 offset-md-3">
    <div class="card text-light bg-secondary border-primary">
      <div class="car-body">
        <button class="col-md-6 offset-md-3" (click)="close()">Gizle</button>
        <h5 class="card-title">Car</h5>
        <p>id:{{ selectedCar?.id }}</p>
        <p>name:{{ selectedCar?.name }}</p>
        <p>price:{{ selectedCar?.price }}</p>
        <p>color:{{ selectedCar?.color }}</p>
        <p>stock:{{ selectedCar?.stock }}</p>
      </div>
    </div>
  </div>
</div>
